:root {
  --black: hsl(276, 7%, 30%);
  --secondary:	hsl(273, 96%, 36%);
  --hoverColor: hsl(273, 70%, 45%);
  --footer: hsl(260, 100%, 73%);
  --border: hsl(0, 0%, 82%);
}
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
